/* styles.css */

:root {
  --orange-web: #fca311ff;
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
}

a:hover {
  color: var(--orange-web);
}

.link-invert {
  display: inline-block;
  border: 1px solid orange;
  border-radius: 12px;
  padding: 20px;
  color: white;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.link-invert:hover {
  background-color: orange;
  color: white;
  text-decoration: none;
}

.link-invert:active {
  background-color: white;
  color: orange;
}
